@{
    ViewBag.Title = "Welcome to Diabetics' Helper";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Diabetics' Helper</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Diabetics' Helper</h2>
        <p>
           
        </p>
        <p></a></p>
    </div>
    
</div>